// shadow mixin
@mixin dropShadow($color) {
    background: $color;
    box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
}

// inside auto layout group
@mixin insideAutoLayoutGroup($order) {
    flex: none;
    order: $order;
    flex-grow: 0;
}

@mixin centringMixin($justify: center, $aItems: center, $display: flex) {
    display: $display;
    justify-content: $justify;
    align-items: $aItems;
}

@mixin fontStd($color: $black, $size: 14px, $weight: 400, $height: 17px, $style: normal, $family: 'Inter') {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    font-style: $style;
    font-family: $family;
}