include ../buttons/buttons.pug
include ../content/content.pug
style
    include ./searchBlockComponent.scss

.content_container_searchBlockContainer
    .content_container_searchBlockContainer_background
        img(src="../../assets/images/backgroundImg.png", alt="")
    .content_container_searchBlockContainer_innerContainer
        .content_container_searchBlockContainer_innerContainer_title 
            p Sdaem.by - у нас живут 
                span ваши объявления
        .content_container_searchBlockContainer_innerContainer_bar
            .content_container_searchBlockContainer_innerContainer_bar_top
                .content_container_searchBlockContainer_innerContainer_bar_top_button
                    span Квартиры на сутки
                .content_container_searchBlockContainer_innerContainer_bar_top_button
                    span Коттеджи и усадьбы
                .content_container_searchBlockContainer_innerContainer_bar_top_button
                    span Бани и сауны
                .content_container_searchBlockContainer_innerContainer_bar_top_button
                    span Авто напрокат
            .content_container_searchBlockContainer_innerContainer_bar_bottomButtons

             



        


            
