include ../buttons/buttons.pug
include ../content/content.pug

.content_container_searchBlockCathalogFilterContainer
    .content_container_searchBlockCathalogFilterContainer_innerContainer
        .content_container_searchBlockCathalogFilterContainer_innerContainer_top
            .content_container_searchBlockCathalogFilterContainer_innerContainer_top_wrapper
                .content_container_searchBlockCathalogFilterContainer_innerContainer_top_item
                    span Комнаты
                    .content_container_searchBlockCathalogFilterContainer_innerContainer_top_item_buttons
                        +menuBtn({text: 'Выберите', cls:'primary', color: 'menu', type: 'w5', gap: '3.5px', icon: 'arrowDown', iconPlace: 'right', iconColor: 'purple', width: '150px', menuType: 'list'},
                                [{text: '1 комн.'}, {text: '2 комн.'}, {text: '3 комн.'}, {text: '4 комн.'}, {text: '5 комн.'},])
                hr(class = 'first')
                .content_container_searchBlockCathalogFilterContainer_innerContainer_top_item
                    span Цена за сутки (BYN)
                    .content_container_searchBlockCathalogFilterContainer_innerContainer_top_item_buttons
                        +inputBtn({text: 'От', cls: 'searchCathalogMenu'})
                        span -
                        +inputBtn({text: 'До', cls: 'searchCathalogMenu'})
                hr(class = 'second')
                .content_container_searchBlockCathalogFilterContainer_innerContainer_top_item
                    +stdBtn({text: 'Больше опций', cls:'primary', color: 'white', type: 'w5', gap: '3.5px', icon: 'setup', iconPlace: 'right', iconColor: 'purple', width: '157px'})
                hr(class = 'third')
                .content_container_searchBlockCathalogFilterContainer_innerContainer_top_right
                    +stdBtn({text: 'Очистить', cls:'primary', color: 'white', type: 'w5', gap: '3.5px', width: '100px'})
                    +stdBtn({text: 'Показать объекты', cls:'primary', color: 'purple', type: 'w5', gap: '3.5px', icon: 'arrowLeft', iconPlace: 'right', iconColor: 'white', width: '192px'})
        .content_container_searchBlockCathalogFilterContainer_innerContainer_bottom