extends ../layouts/default
block variables
  title Главная

block content
  include ../../components/buttons/buttons.pug
  include ../../components/content/content.pug
  .content
    .content_container
          include ../../components/searchBlock/searchBlockComponent.pug
          include ../../components/rentsBlock/rentTypesCardsBlock.pug
          include ../../components/rentsBlock/rentRoomsCardsBlock.pug
          .content_container_spaceContainer 
          .content_container_dayRentContainer 
          .content_container_servicesContainer
          .content_container_spaceContainer
          .content_container_exampleContainer