@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

body {
    margin: 0px;
    
}
.main_content {
    

}
.content {
    height: 3000px;
    overflow: auto;
    background-color: green;
}