@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

body {
  margin: 0;
}

.main_content {
    //width: 100vw;
}

.content {
  height: 3538px;
  
  overflow: auto;
  display: flex;
  z-index: 100;
  //position: relative;
}

.content_container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //position: relative;
  //z-index: 100;

}


