include ../buttons/buttons.pug
include ../content/content.pug
include ../spaceContainer.pug

.content_container_exampleContainer
    .content_container_exampleContainer_innerContainer
        +spaceContainer('example', 'yellow')
        .content_container_exampleContainer_innerContainer_left
            .content_container_exampleContainer_innerContainer_left_title
                .content_container_exampleContainer_innerContainer_left_title_small Что такое sdaem.by
                .content_container_exampleContainer_innerContainer_left_title_large Квартира на сутки в Минске
            .content_container_exampleContainer_innerContainer_left_middle
                .content_container_exampleContainer_innerContainer_left_middle_image
                    //include ../../assets/images/roomExampleImg.png
                .content_container_exampleContainer_innerContainer_left_middle_description
                    p <b>Нужна квартира на сутки в Минске? </b> <br> На веб-сайте sdaem.by вас ждет масса выгодных предложений. Каталог насчитывает <b>более 500 квартир </b>. Благодаря удобной навигации вы быстро найдете подходящий вариант.
                    p В каталоге представлены комфортабельные однокомнатные квартиры на сутки и квартиры с большим количеством комнат в разных районах города, с различной степенью удобства от дешевых до VIP с джакузи.
            .content_container_exampleContainer_innerContainer_left_bottom
                p Чтобы снять квартиру на сутки в Минске, вам достаточно определиться с выбором и связаться с владельцем для <br> уточнения условий аренды и заключить договор. Заметим, на сайте представлены исключительно квартиры на сутки <br> без посредников, что избавляет посетителей от необходимости взаимодействовать с агентствами, тратя свое время и <br> деньги. Также пользователи сайта могут совершенно бесплатно размещать объявления о готовности сдать квартиру на <br> сутки.    
        .content_container_exampleContainer_innerContainer_right
            .content_container_exampleContainer_innerContainer_right_wrapper
                .content_container_exampleContainer_innerContainer_right_title Новости
                .content_container_exampleContainer_innerContainer_right_list
                    .content_container_exampleContainer_innerContainer_right_list_item
                        .content_container_exampleContainer_innerContainer_right_list_item_text Линия Сталина: суровый отдых в усадьбах  на сутки 
                        .content_container_exampleContainer_innerContainer_right_list_item_date 14 Январь
                    hr
                    .content_container_exampleContainer_innerContainer_right_list_item
                        .content_container_exampleContainer_innerContainer_right_list_item_text Аренда квартиры посуточно
                        .content_container_exampleContainer_innerContainer_right_list_item_date 14 Январь
                    hr
                    .content_container_exampleContainer_innerContainer_right_list_item
                        .content_container_exampleContainer_innerContainer_right_list_item_text Дворцово-парковый комплекс Чапских
                        .content_container_exampleContainer_innerContainer_right_list_item_date 14 Январь
                    hr
                    .content_container_exampleContainer_innerContainer_right_list_item
                        .content_container_exampleContainer_innerContainer_right_list_item_text Дворцово-парковый комплекс Чапских
                        .content_container_exampleContainer_innerContainer_right_list_item_date 14 Январь
                    hr
                    .content_container_exampleContainer_innerContainer_right_list_item
                        .content_container_exampleContainer_innerContainer_right_list_item_text Дворцово-парковый комплекс Чапских
                        .content_container_exampleContainer_innerContainer_right_list_item_date 14 Январь

                .content_container_exampleContainer_innerContainer_right_button
                    span Посмотреть все
                    include ../../assets/images/arrowLeftImg.svg