@import 'header/header';
@import 'footer/footer';
@import '../styles/helpers/variables';
@import '../styles/helpers/mixins';

.content_container_searchBlockContainer {
  width: 100%;
  height: 430px;
  margin: 0 80px;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
}

.content_container_searchBlockContainer_background {
  mix-blend-mode: overlay;
  background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
  border-radius: 0 0 40px 40px;
  height: 430px;
  width: 1285px;

  position: absolute;
  z-index: 10;

  img {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    //position: absolute;
    z-index: 0;
  }
}

.content_container_searchBlockContainer_innerContainer {
  position: relative;
  width: 1285px;
  height: 100%;
  z-index: 100;
    
  //padding-top: 82.5px;
  //padding-bottom: 118;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  flex-direction: column;
}

.content_container_searchBlockContainer_innerContainer_title {
  @include fontStd(#ffffff, 30px, 700, 36px);
  margin-top: 82.5px;  
  margin-bottom: 50.5px;
  display: flex;
  text-align: center;

  p {
    margin: 0;
  }

  text-shadow: 0 2px 5px rgb(0 14 142 / 30%);

  span {
    color: #ffd54f;
  }
}

.content_container_searchBlockContainer_innerContainer_bar {
  width: 1062px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //margin-left: 223px;    
}

.content_container_searchBlockContainer_innerContainer_bar_top {
  @include fontStd(#ffffff, 14px, 600, 17px);
  @include noSelect;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(45, 57, 136, 0.5)
}

.content_container_searchBlockContainer_innerContainer_bar_top_button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;

  &:active {
    color: $c664EF9;
    background: #fff;
    border-radius: 10px 10px 0 0;
  }
}


.content_container_searchBlockContainer_innerContainer_bar_bottomButtons {
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;    
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}
.content_container_searchBlockContainer_innerContainer_bar_bottomButtons_item {
    margin: 15px 20px;
    margin-bottom: 20px;
    height: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.single {
        height: calc(100% - 65px);
        margin-top: 32.5px;
        margin-bottom: 32.5px; 
    
    }
    &.double {

    }
    &.searchOptions {
        margin-left: 4px;
        margin-right: 4px;
     }
    &.rightButtons {
        margin-left: 10px;
    }
}

.content_container_searchBlockContainer_innerContainer_bar_bottomButtons_item_title {
    @include fontStd(#bdbdbd, 14px, 500, 17px);
    width: 100%;
    margin-bottom: 11px;
}
hr {
    height: calc(100% - 32px);
    opacity: 0.1;
    border: 1px solid #664EF9;
    margin: 16px 0px;

}
.content_container_searchBlockContainer_innerContainer_bar_bottomButtons_item_buttons {
    display: flex;
    flex-direction: row;
    &.standartButton {

    }
    &.menuButton {

    }
    &.inputButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }
    &.rightButtons {
        gap: 16px;
    }

}

.rentTypesCardsBlock {
    width: 100%;
    max-width: 1280px;
    height: auto;
    background-color: red;
    @include centringMixin(space-between);
    margin: 84px 0px;
} 
.rentTypesCardsBlock_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.rentTypesCardsBlock_cards_innerContainer {
    gap: 30px;
    display: flex;
    &.firstBlock{
        width: 953px;
        height: 270px;
        background-color: green;
    }
    &.secondBlock{
        width: 953px;
        height: 270px;
        background-color: green;
    }    
}
.rentTypesCardsBlock_cards_innerContainer_card {
    height: 270px;
    border-radius: 10px;

    &.rooms {
        background-image: url(../images/roomsImg.png);
        width: 516px;
        background-color: grey; 
        
    }
    &.houses {
        width: 407px;
        background-color: orange; 
    }
    &.baths {
        width: 407px;
        background-color: black; 
    }
    &.cars {
        width: 516px;
        background-color: orange; 
    }
}

.rentTypesCardsBlock_cards_innerContainer_card_item {
    &.title {
        
        margin-top: 37px;
        margin-left: 37px;

        @include fontStd(white, 13px, 700, 16px);
        @include noSelect;
        text-transform: uppercase;
        background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}
.rentTypesCardsBlock_buttonList {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
