@import 'header/header';
@import 'footer/footer';
@import '../styles/helpers/variables';
@import '../styles/helpers/mixins';

.content_container_searchBlockContainer {
  width: 100%;
  height: 430px;
  margin: 0 80px;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;

  &_background {
    mix-blend-mode: overlay;
    background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
    border-radius: 0 0 40px 40px;
    height: 430px;
    width: 1285px;
  
    position: absolute;
    z-index: 10;
  
    img {
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
  
      //position: absolute;
      z-index: 0;
    }
  }

  &_innerContainer {
    position: relative;
    width: 1285px;
    height: 100%;
    z-index: 100;
      
    //padding-top: 82.5px;
    //padding-bottom: 118;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    flex-direction: column;
  
    &_title {
      @include fontStd(#ffffff, 30px, 700, 36px);
      margin-top: 82.5px;  
      margin-bottom: 50.5px;
      display: flex;
      text-align: center;
    
      p {
        margin: 0;
      }
    
      text-shadow: 0 2px 5px rgb(0 14 142 / 30%);
    
      span {
        color: #ffd54f;
      }
    }
  
    &_bar {
      width: 1062px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      //margin-left: 223px; 
      
      &_top {
        @include fontStd(#ffffff, 14px, 600, 17px);
        @include noSelect;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(45, 57, 136, 0.5);
      
        &_button {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 13px 20px;
          gap: 10px;
        
          &:active {
            color: $c664EF9;
            background: #fff;
            border-radius: 10px 10px 0 0;
          }
        }
      }
    
      &_bottomButtons {
        width: 100%;
        height: 100px;
        background: #FFFFFF;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;    
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    
        &_item {
            margin: 15px 20px;
            margin-bottom: 20px;
            height: calc(100% - 35px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
            &.single {
                height: calc(100% - 65px);
                margin-top: 32.5px;
                margin-bottom: 32.5px; 
            
            }
            &.double {
        
            }
            &.searchOptions {
                margin-left: 4px;
                margin-right: 4px;
             }
            &.rightButtons {
                margin-left: 10px;
            }
        
            &_title {
                @include fontStd(#bdbdbd, 14px, 500, 17px);
                width: 100%;
                margin-bottom: 11px;
            }
            hr {
                height: calc(100% - 32px);
                opacity: 0.1;
                border: 1px solid #664EF9;
                margin: 16px 0px;
            
            }
            &_buttons {
                display: flex;
                flex-direction: row;
                &.standartButton {
            
                }
                &.menuButton {
            
                }
                &.inputButton {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 4px;
                }
                &.rightButtons {
                    gap: 16px;
                }
            
            }
        }
    }
    }
  }
}

.rentTypesCardsBlock {
    width: 100%;
    max-width: 1280px;
    height: auto;
    @include centringMixin(space-between);
    margin: 84px 0px;

    &_cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    
        &_innerContainer {
            gap: 30px;
            display: flex;
            &.firstBlock{
                width: 953px;
                height: 270px;
            }
            &.secondBlock{
                width: 953px;
                height: 270px;
            }
            
            &_card {
                height: 270px;
                border-radius: 10px;

                &.rooms {
                    background-image: url(../images/roomsImg.png);
                    width: 516px;                    
                }
                &.houses {
                    background-image: url(../images/housesImg.png);
                    width: 407px;
                }
                &.baths {
                    background-image: url(../images/bathsImg.png);
                    width: 407px;
                    background-color: black; 
                }
                &.cars {
                    background-image: url(../images/carsImg.png);
                    width: 516px;
                }
                &_wrapper {

                }
                &_item {
                    @include centringMixin(flex-start);

                    &.title {
                        
                        margin-top: 37px;
                        margin-left: 37px;
                        @include fontStd(white, 13px, 700, 16px);
                        @include noSelect;
                        text-transform: uppercase;
                        background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                    &.description{

                        margin-left: 37px;
                        margin-top: 21.25px;
                        @include fontStd(white, 25px, 700, 30px);
                        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                        @include noSelect;
                        
                        &.empty {
                            margin-top: 16px;
                        }

                    }
                    &.buttons {
                        height: 80px;
                        width: 367px;
                        margin-left: 37px;
                        margin-top: 21.25px;
                        display: flex;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        gap: 16px; 
                    }
                    &.arrowBtn {
                       display: flex;
                       justify-content: flex-end;
                       align-items: center;
                       position: relative;
                       top: 34%;
                       margin: 20px;             
                    }
                }
            }
        }
    }

    &_buttonList {
        width: 100%;
        height: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 40px;
        @include noSelect;
        &_item {
            &_wrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            &_title {
                @include fontStd(#333333, 18px, 700, 22px);
                margin-bottom: 15px;    
            }
            &_button {
                display: flex;
                justify-content: space-between;
               &_text {
                    @include fontStd(#FEB700);
                    &:hover {
                        margin-left: 10px;
                    }
               }
               &_number {
                @include fontStd(#BDBDBD);
               }
            }
        }       
    }
}

.rentRoomsCardsBlock {
    width: 1440px;
    height: 970px;
    //background-color: green;
    margin-top: 30px;

    &_background {
        position: absolute;
        z-index: 0;
        width: 803px;
        height: 970px;
        left: 45%;
        top: 1298px;
        background: linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);;
        opacity: 0.1;
        border-radius: 40px 0px 0px 0px;   
    }
    &_innerContainer {
        margin-top: 32px;
        margin-left: 80px;
        margin-right: 80px;
        position: relative;
        &_top {
            margin-bottom: 55px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &_title {

                &_small {

                    margin-bottom: 15px;

                    @include fontStd(white, 14px, 600, 16px);
                    @include noSelect;
                    text-transform: uppercase;
                    background: linear-gradient(90deg, #9D94FF 0%, #6B50E9 94.5%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                &_large {
                    margin-bottom: 5px;
                    @include fontStd(black, 25px, 700, 30px);
                }
            }
            &_buttons {
                display: flex;
                gap: 30px;
                
            }
        }
        &_cards {
            display: flex;
            justify-content: center;
            gap: 30px;

            &_item {
                position: relative;

            }
        
        }
        &_nav {
            display: flex;
            justify-content: center;
            gap: 13px;
            margin-top: 38px;
            margin-bottom: 29px;
        }
        &_all {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 91px;

            hr {
                height: 70px;
                border: 2px solid linear-gradient(90deg, #94AFFF 0%, #4E64F9 94.5%);
                opacity: 0.1;
                margin-left: 27px;
                margin-right: 25px;

            }

            &_left {
                display: flex;
                flex-direction: column;

                &_number {
                    @include fontStd($black, 60px, 700, 73px);

                    span {
                        color: #664EF9;
                    }
                }
                &_description {
                    @include fontStd(#8291A3, 14px, 500, 17px);
                    opacity: 0.6;
                }
            }
            &_right {

            }
        }
    }
}
.rentCard{
    height: 522px;
    width: 406px;
    background-color: white;
    box-shadow: (0px 20px 40px rgba(135, 124, 202, 0.15));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &_top {
        width: 100%;
        height: 226px;
        background-color: #E4E2E2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        &_status {
            @include fontStd(white, 18x, 700, 22px);
            text-shadow: 0px 1px 0px rgba(147, 79, 0, 0.3);
            background: linear-gradient(106.06deg, #FFD54F 1.12%, #FEC100 97.96%);
            border-radius: 0px 10px 10px 10px;

            width: 66px;
            height: 37px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            position: absolute;
            left: 340px;
        }

        &_photo {
            width: auto;
            height: 100%;
        }

    }
    &_info {
        margin-top: 21px;
        margin-left: 19px;
        margin-right: 20px;
        margin-bottom: 12px;
        
        &_rooms {
            display: flex;
            justify-content: space-between;
            margin-bottom: 26px;
            &_price {
                display: flex;
                flex-direction: column;
                span {
                    &.price {
                        @include fontStd(#664EF9, 20px, 700, 24px);
                    }
                    &.type {
                        @include fontStd(#BDBDBD, 14px, 400, 17px);
                    }
                }
            }
            &_buttons {
                @include fontStd(#686868, 14px, 500, 17px);
                display: flex;
                gap: 7.5px;

                &_item {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 0 8px; 
                    background-color: #F8F8F8;
                    border-radius: 18px;
                    max-height: 37px;
                }
            }  
        }
        &_address {
            @include fontStd(black, 16px, 500, 19px);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 11px;

            margin-bottom: 20px;
            &_location {
                span {
                    display: inline-block;
                    margin-left: 11px;
                    
                }
                path {
                    fill: #BDBDBD;
                }
            }
            &_stations {
                @include centringMixin;
                gap: 30px;

                &_item {
                    @include centringMixin;
                    span {
                        display: inline-block;
                        margin-left: 6px;
                    }
                    path: {
    
                    }
                }
            }
        }
      
        &_description {
            @include fontStd(#8291A3, 12px, 400, 15px);
        }
    }
    &_line{
        display: flex;
        justify-content: center;
        margin: 0 19px;
        width: calc(100% - 38px);
        hr {
            width: calc(100%);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 19px;
            height: auto;
            
            opacity: 0.1;
            border: 1px solid #664EF9;
            margin: 0;
        }
    }
    &_bottom {
        //background-color: green;
        width: calc(100% - 38px);
        margin: 0 19px;
        height: 63px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &_left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;   
            height: 37px;

            &_fav{
                
                &.active {
                    @include centringMixin;
                }

                &.hidden {
                    display: none;
                }
            }
            &_contacts {
                display: flex;
            }
        }
    }
}
.spaceContainer {
    width: 61.19px;
    height: 61.19px;
    background-color: red;
    &.first {
        position: absolute;
        left: 120px;
        top: 32%;
        z-index: 999;
    }
    &_item {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(255, 123, 88, 0.13);
        &.yellow {
            background: #FFD54F;   
        }
        &.white {
            background: #FFFFFF;
        }
    }

}

.content_container_servicesContainer {
    @include centringMixin;
    
    &_innerContainer {
        position: relative;
        width: 1440px;

        &_background {
            mix-blend-mode: overlay;
            background: linear-gradient(360deg, #7e6af3 15.95%, #6540cd 63.1%);
            
            width: 1440x;
          
            position: absolute;
            z-index: 10;
          
            img {
              //position: absolute;
              z-index: 0;
            }
          }

        &_searchContainer {
            @include centringMixin;
            flex-direction: column;
            margin-top: 75px;
            margin-bottom: 94px;
            position: relative;
            z-index: 100;
            &_title {
                @include fontStd(white, 25px, 500, 30px);
                margin-bottom: 20px         
            }
            &_description {
                @include fontStd(white, 16px, 500, 19px);
                margin-bottom: 23px;
                text-align: center;   
            }
        }
    &_cards {
        @include centringMixin;
        gap: 30px;
        position: relative;
        z-index: 100;


        &_item {
            width: 406px;
            height: 345px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            &_wrapper {
                
                margin-top: 27px;
                margin-left: 37px;
                margin-right: 38px;

                &.gold {
                    margin-top: 39px;
                    margin-left: 37px;
                    margin-right: 38px;
                }
            }
            &_top {
                
                display: flex;
                align-items: center;
                gap: 27px;
                margin-bottom: 25px;
                &.gold {
                    @include centringMixin;
                    margin-bottom: 35px;
                }
                &_icon {
                    width: 98.52px;
                    height: 98.52px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    box-shadow: 0px 11px 20px rgba(127, 155, 187, 0.16);

                    @include centringMixin;
                }
                &_title {
                    @include fontStd(#664EF9, 18px, 700, 22px);

                    &.gold {
                        @include fontStd(black, 30px, 700, 36px);
                    }
                }
            }

            &_middle {
                @include fontStd();
                margin-bottom: 34px;
            }

            &_bottom {

            }
            &.white {
                background: #FFFEFE;
                box-shadow: 0px 20px 40px rgba(135, 124, 202, 0.15);
            }
            &.gold {
                background: linear-gradient(105.54deg, #FFD54F 33.53%, #FEC100 94.13%);
            }
        }
    }    
    }
}