mixin spaceContainer(container, color)
    .spaceContainer(class =container)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)

        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)

        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)

        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
        .spaceContainer_item(class= color)
    