include ../buttons/buttons.pug
include ../content/content.pug
include ./rentCard.pug

.content_container_cardsBlockCathalogContainer
    .content_container_cardsBlockCathalogContainer_innerContainer
        .content_container_cardsBlockCathalogContainer_title Найдено 234 результата
        .content_container_cardsBlockCathalogContainer_cards
             +rentCardList([
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Vasye', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'}, type: 'active'},
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Dimitry', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'},type: 'active'},
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Dimitry', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'},type: 'active'},
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Vasye', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'},type: 'active'},
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Dimitry', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'},type: 'active'},
                {status: 'Gold',photo: '../../assets/images/card_1_Img.png',price: '65.00 BYN',capacity: '4 (2+2)',rooms: '4 комн.',size: '179',address: 'Минск, б-р Мулявина, д. 10',metro: [{icon: 'metro', name: 'Грушевка'}, {icon: 'rail', name: 'Шабаны'}],description: 'Какое-то описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание квартиры, описание ...', ownerInfo: {photo: '../../assets/images/boyNextDoorImg.png', name: 'Dimitry', phone: ' +375 (29) 291-14-44', email: 'vladimir6234@tut.by'},type: 'active'},
                ])
        .content_container_cardsBlockCathalogContainer_bottom
            .content_container_cardsBlockCathalogContainer_bottom_left
                .content_container_cardsBlockCathalogContainer_bottom_left_pages
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 1
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 2
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 3
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 4
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 5
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 6
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 7
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item ...
                    .content_container_cardsBlockCathalogContainer_bottom_left_pages_item 11
            .content_container_cardsBlockCathalogContainer_bottom_right
                .content_container_cardsBlockCathalogContainer_bottom_right_text Поделиться
                .content_container_cardsBlockCathalogContainer_bottom_right_icons
                    .content_container_cardsBlockCathalogContainer_bottom_right_icons_item
                        include ../../assets/images/vkSmallImg.svg
                    .content_container_cardsBlockCathalogContainer_bottom_right_icons_item
                        include ../../assets/images/fbSmallImg.svg
                    .content_container_cardsBlockCathalogContainer_bottom_right_icons_item
                        include ../../assets/images/viberSmallImg.svg
                    .content_container_cardsBlockCathalogContainer_bottom_right_icons_item
                        include ../../assets/images/tgSmallImg.svg
                    .content_container_cardsBlockCathalogContainer_bottom_right_icons_item
                        include ../../assets/images/watsSmallImg.svg