include ../buttons/buttons.pug
include ../content/content.pug

.rentTypesCardsBlock
    .rentTypesCardsBlock_cards
        .rentTypesCardsBlock_cards_innerContainer(class = 'firstBlock')
            .rentTypesCardsBlock_cards_innerContainer_card(class = 'rooms')

                .rentTypesCardsBlock_cards_innerContainer_card_item(class = 'title') Снять квартиру
            .rentTypesCardsBlock_cards_innerContainer_card(class = 'houses')
        .rentTypesCardsBlock_cards_innerContainer
            .rentTypesCardsBlock_cards_innerContainer_card(class = 'baths')
            .rentTypesCardsBlock_cards_innerContainer_card(class = 'cars')
    .rentTypesCardsBlock_buttonList
        span sdasdas


